[Desktop Entry]
Version=1.3.2
Terminal=false
Icon=ooo4kids13-printeradmin
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=ooo4kids1.3.2-printeradmin
Name=OOo4Kids 1.3.2 Printer Administration
Name[en]=OOo4Kids 1.3.2 Printer Administration
Name[bo]=OOo4Kids 1.3.2 དཔར་འཁོར་དོ་དམ།
Name[tn]=OOo4Kids 1.3.2 Printer Administration
Name[af]=OOo4Kids 1.3.2-drukkeradministrasie
Name[brx]=OOo4Kids 1.3.2 साफायग्रा खुंथाय
Name[bs]=OOo4Kids 1.3.2 administracija štampača
Name[cy]=Gweinyddu Argraffu OOo4Kids 1.3.2
Name[dgo]=OOo4Kids 1.3.2 छापक  प्रशासन
Name[dz]=OOo4Kids 1.3.2 དཔར་འཕྲུལ་ བདག་སྐྱོང་།
Name[en_ZA]=OOo4Kids 1.3.2 Printer Administration
Name[fa]=مدیریت چاپگر OOo4Kids 1.3.2
Name[fi]=OOo4Kids 1.3.2 - Tulostimen hallinta
Name[ka]=OOo4Kids 1.3.2 პრინტერის ადმინისტრაცია
Name[kk]=OOo4Kids 1.3.2 Баспаны басқару
Name[kok]=OOo4Kids 1.3.2 मुद्रक प्रशासन
Name[ku]=OOo4Kids 1.3.2 Rêvebiriya Çapgerê
Name[mai]=OOo4Kids 1.3.2 मुद्रक प्रशासन
Name[mni]=OOo4Kids 1.3.2 প্রিন্তরগী ৱায়েন থৌদা
Name[nr]=OOo4Kids 1.3.2 Ukuphathwa Kwesigadangisi
Name[ns]=OOo4Kids 1.3.2 Taolo ya Segatiši
Name[sat]=OOo4Kids 1.3.2 छापा सासोनिक्
Name[sd]=OOo4Kids 1.3.2  پرنٽر جو انتظام 
Name[ss]=OOo4Kids 1.3.2 kuphatfwa kwephrinta
Name[st]=Taolo ya Sehatisi ya OOo4Kids 1.3.2
Name[sw_TZ]=OOo4Kids 1.3.2 Utawala wa Printa
Name[tg]=Идоракунии чопкунаки OOo4Kids 1.3.2
Name[th]=ตัวบริหารจัดการเครื่องพิมพ์ OOo4Kids 1.3.2 
Name[ts]=Vukongomisi bya Printa OOo4Kids 1.3.2
Name[ve]=Mulanguli wa Phirinthara wa OOo4Kids 1.3.2
Name[xh]=Ulawulo Lwesishicileli lwe-OOo4Kids 1.3.2
Name[zu]=OOo4Kids 1.3.2 Ukuphathwa komshicileli
Name[ar]=إدارة طابعات OOo4Kids 1.3.2
Name[as]=OOo4Kids 1.3.2 মুদ্ৰক প্ৰশাসন
Name[ast]=Alministración de la imprentadora de OOo4Kids 1.3.2
Name[be_BY]=Кіраванне прынтэрам OOo4Kids 1.3.2
Name[bg]=Администриране на принтера за OOo4Kids 1.3.2
Name[br]=Ardoadur moullerezed OOo4Kids 1.3.2
Name[ca]=Administració d'impressió de l'OOo4Kids 1.3.2
Name[cs]=Administrace tiskáren OOo4Kids 1.3.2
Name[da]=OOo4Kids 1.3.2-printeradministration
Name[de]=OOo4Kids 1.3.2 Druckerverwaltung
Name[en_GB]=OOo4Kids 1.3.2 Printer Administration
Name[eo]=OOo4Kids 1.3.2 presila administrado
Name[es]=Administración de la impresora de OOo4Kids 1.3.2 
Name[eu]=OOo4Kids 1.3.2 inprimagailu-administrazioa
Name[fr]=Gestion des imprimantes de OOo4Kids 1.3.2
Name[gu]=OOo4Kids 1.3.2  પ્રિન્ટર સંચાલન
Name[hr]=OOo4Kids 1.3.2 aAdministracija pisača
Name[hu]=OOo4Kids 1.3.2 Nyomtatókezelés
Name[id]=Administrasi Pencetak OOo4Kids 1.3.2
Name[is]=OOo4Kids 1.3.2 prentarastjórnun
Name[it]=OOo4Kids 1.3.2 Gestione stampanti
Name[ja]=OOo4Kids 1.3.2 プリンタの管理
Name[kn]=OOo4Kids 1.3.2 ಮುದ್ರಕ ನಿರ್ವಹಣೆ
Name[ko]=OOo4Kids 1.3.2 프린터 관리
Name[lt]=„OOo4Kids 1.3.2“ spausdintuvo tvarkymas
Name[lv]=OOo4Kids 1.3.2 Printera administrēšana
Name[mk]=Администрирање на печатачи во OOo4Kids 1.3.2
Name[ml]=OOo4Kids 1.3.2 പ്രിന്റര്‍ അഡ്മിനിസ്ട്രേഷന്‍
Name[mn]=OOo4Kids 1.3.2 Хэвлэгчийн удирдлага
Name[mr]=OOo4Kids 1.3.2 मुद्रक प्रशासन
Name[my]=OOo4Kids 1.3.2 ပရင်တာ စီမံခန့်ခွဲခြင်း
Name[ne]=OOo4Kids 1.3.2 मुद्रक प्रशासन
Name[nl]=OOo4Kids 1.3.2-printerbeheer
Name[oc]=Gestion de las estampadoiras de OOo4Kids 1.3.2
Name[om]=Bulchiinsa Maxxansaa OOo4Kids 1.3.2
Name[or]=OOo4Kids 1.3.2 ପ୍ରିଣ୍ଟର ପ୍ରଶାସନ
Name[pl]=OOo4Kids 1.3.2 - Zarządzanie drukarką
Name[pt_BR]=Administrador de impressoras do OOo4Kids 1.3.2
Name[pt]=OOo4Kids 1.3.2 - Administração de impressoras
Name[ru]=OOo4Kids 1.3.2 Управление принтером
Name[rw]=Ubugenzuzi bwa Mucapyi OOo4Kids 1.3.2
Name[sa_IN]=OOo4Kids 1.3.2 मुद्रकप्रशासनम्
Name[si]=OOo4Kids 1.3.2 මුද්‍රණ පරිපාලක
Name[sk]=Správa tlačiarní OOo4Kids 1.3.2
Name[sl]=Nastavitve tiskalnika OOo4Kids 1.3.2
Name[sv]=OOo4Kids 1.3.2 skrivaradministration
Name[ta]=OOo4Kids 1.3.2 அச்சுப்பொறி நிர்வாகம்
Name[te]=ముద్రణా యంత్రం యోక్క OOo4Kids 1.3.2 నిర్వహించు.
Name[tr]=OOo4Kids 1.3.2 Yazıcı Yönetimi
Name[ug]=OOo4Kids 1.3.2 پرىنتېر باشقۇرۇش
Name[uk]=Налаштування принтера OOo4Kids 1.3.2
Name[uz]=OOo4Kids 1.3.2 printerni boshqarish
Name[vi]=Quản trị máy in OOo4Kids 1.3.2
Name[zh_CN]=OOo4Kids 1.3.2 打印机管理
Name[zh_TW]=OOo4Kids 1.3.2 印表機管理
Name[sh]=OOo4Kids 1.3.2 podešavanje štampača
Name[sr]=OOo4Kids 1.3.2 подешавање штампача
Name[km]=ការ​គ្រប់គ្រង​ម៉ាស៊ីន​បោះពុម្ព​ OOo4Kids 1.3.2
Name[ga]=Riarachán na bPrintéirí OOo4Kids 1.3.2
Name[et]=OOo4Kids 1.3.2-i printerite haldamine
Name[he]=ניהול מדפסות ‏‪OOo4Kids 1.3.2‬‏‏
Name[nb]=OOo4Kids 1.3.2-skriveradministrasjon
Name[el]=Διαχείριση εκτυπωτή OOo4Kids 1.3.2
Name[nn]=OOo4Kids 1.3.2-skrivaradministrasjon
Name[ro]=Administrare imprimantă OOo4Kids 1.3.2
Name[bn]=OOo4Kids 1.3.2 মুদ্রণযন্ত্র পরিচালনা
Name[gl]=Administración da impresora de OOo4Kids 1.3.2
